{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Akira | 1988</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/akira.gif" class="img-thumbnail"  alt="">
    </div>
</div>
  

{{> footer }}